.wrapper {
    width: 90% ;
    max-width:360px;
    height: 300px;
    border: #14efd6 solid 5px;
    border-radius: 5%;
}
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 140px;
    margin: 15px 20px;
    border-radius: 10px;
    background-color: #14efd6;
    border: #14efd6 solid 3px;
}
.halfScreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90% ;
    max-width:360px;
    height: 70px;
}
.inputScreen {
    text-align: center;
    width: 40%;
    height: 22px;
    border-radius: 6px;
    border: #14efd6 solid 3px;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
}
.inputError {
    background-color: #d90443;
}
.keyboard {
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin: 15px 20px;
    border-radius: 10px;
    border: #14efd6 solid 3px;
}
.screenValue {
    vertical-align: middle;
    text-align: center;
    line-height: 140px;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}
.screenText {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    line-height: 34px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.maxValue {
    font-size: 70px;
    color: red;
}