.button {
    /*width:130px;*/
    padding-left: 30px;
    padding-right: 30px;
    height: 60px;
    margin: 20px 20px;
    border-radius: 15px;
    background-color: #14efd6;
    font-size: 30px;
    font-weight: bold;
    font-family: "Trebuchet MS";
}